body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
}

img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
}

.bio {
    font-size: 1.2em;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

